@layer components {
  @keyframes marquee-x {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-y {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  .marquee-horizontal {
    animation: marquee-x var(--duration) infinite linear;
  }

  .marquee-vertical {
    animation: marquee-y var(--duration) infinite linear;
  }

  .group\/marquee:hover .marquee-pause-on-hover {
    animation-play-state: paused;
  }
}
