@layer components {
  .ripple {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    background-color: #000000;
    z-index: 1;
    opacity: 0;
    transition: transform 50ms linear;
  }

  .ripple-enter {
    animation: ripple-enter 250ms ease-out forwards;
  }

  .ripple-leave {
    animation: ripple-leave 250ms ease-out forwards;
  }

  @keyframes ripple-enter {
    from {
      transform: scale(0);
      opacity: 1;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes ripple-leave {
    from {
      transform: scale(1);
      opacity: 1;
    }

    to {
      transform: scale(0);
      opacity: 1;
    }
  }
}
