/** Fix/improve storybook styles for embedding */
.sbdocs-wrapper {
  padding: 0 !important;
  @apply font-sans;
  display: block !important;
  min-height: unset !important;

  .sbdocs-content {
    padding: 0 !important;
  }
}

.sb-preparing-docs {
  padding: 0 !important;
}

.sb-previewBlock,
.sb-argstableBlock {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: calc(100% - 4px) !important;
}

.embedded {
  .sbdocs {
    margin: 0 !important;
  }

  .innerZoomElementWrapper {
    @apply max-w-full;
  }

  .sb-anchor:not(:first-child) {
    @apply mt-4;
  }

  .docs-story {
    @apply flex items-center justify-center;

    > div > div {
      min-width: 90vw;
      @apply flex max-w-full items-center justify-center;
    }

    .innerZoomElementWrapper:has(.storybook-fix) {
      @apply flow-root w-full;
      > div {
        @apply mx-auto my-3;
      }
    }
  }

  .docblock-argstable {
    margin-bottom: 0 !important;
    max-width: calc(100% - 2px);

    tr:not(:first-child),
    tr td:nth-child(3) {
      /* Fix responsive issue border-right: 1px solid hsla(203, 50%, 30%, 0.15); */
    }

    tr td:last-child,
    tr th:last-child {
      /* Fix responsive issue @apply hidden sm:visible; */
    }
  }
}

.sbdocs-preview > div > div {
  @apply overflow-hidden;
}
